
body{
  margin: 0;
  padding:0;
  background-color: #FAF8EF;
}

h1{
  color: gray;
  font-size: 48px;
  padding: 10px;
}

.header-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: white;
}

#replay{
  font-size: 20px;
  padding:10px;
  color: gray;

}

#win,#end{
  position: fixed;
  left:40%;
  top:350px;
  color: #7cd113;
  font-size: 4em;
  text-shadow: 2px 2px 2px black;

}

#end{
  color: red;
}
.grid{
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  width: 480px;
  height: 480px;
  background-color: #f1f0e7;
  align-content: center;
}
.center{
  display: flex;
  justify-content: center;
}

.grid div{
  justify-content: center;
  text-align: center;
  font-weight: bold;
  width: 110px;
  height: 110px;
  font-size: 60px;
  margin: 4px;
  
}
#container{
  display: flex;
  justify-content: center;
}
#header{
  display: flex;
  justify-content: space-between;
  width: 480px;
  align-items: center;
  padding-bottom: 2px;
}
.score-container{
  display: flex;
  align-items: center;
  flex-direction: column;
  color: gray;

}
#score{
  font-size: 1.2em;
}


#number{
  align-items: center;
  display:flex;
  font-size: 2em;
}
#carre2048{
  background-color: #F1B33F;
  width: 150px;
  height: 120px;
  margin: 10px;
}
#carre2048 h1{
  color: white;
}



